@import "tailwindcss";

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  overflow-x: hidden;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

:where(a, button, [role="button"]) {
  cursor: pointer;
}

:where(button:disabled, [aria-disabled="true"]) {
  cursor: not-allowed;
}
